<!-- views/index.ejs -->
<!doctype html>
<html lang = "en">
<%- include ./partials/head.ejs %>
<body>

<%- include ./partials/nav.ejs %>

<div class="container">
	<div class="col-sm-8 col-offset-sm-2">
		<h1>Edit a Poll</h1>
		
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%=message%></div>
		<% } %>
		
		<form action='/editPoll/<%=poll._id%>' method='post'>
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title" value="<%=poll.title%>">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" rows = "5" name="desc"><%=poll.description%></textarea>
			</div>
			<div class="form-group">
				<label>Options</label>
				<% for(var i = 0;i<poll.options.length;i++) { %>
				<input type="text" class="form-control" name="opt<%= i %>" value="<%=poll.options[i].opt%>"><button type="button" class="btn btn-sm btn-danger" val ="<%=i%>>Remove</button><br>
				<% } %>
				<div id="extraOptions"></div>
				<button type="button" id="addOption" class="btn btn-info">Add option</button>
			</div>
			<button type="submit" class="btn btn-lg btn-primary">Save</button>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
	var optCount = <%= poll.options.length+1 %>;
	$('#addOption').click(function() {
		$('#extraOptions').append('<input type="text" class="form-control" name="opt'+optCount+'"><br>');
		optCount++;
	});
});
</script>
</body>
</html>