<!-- views/viewPoll.ejs -->
<!doctype html>
<html lang = "en">
<%- include ./partials/head.ejs %>
<body>

<%- include ./partials/nav.ejs %>

<div class="container">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

	<div class="col-sm-6 col-offset-sm-3">
<% if(poll) { %>
	<h1><%= poll.title %></h1>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ <% for(var i = 0;i<poll.options.length;i++) { %> '<%=poll.options[i].opt %>', <%}%>],
        datasets: [{
            label: '# of Votes',
            data: [<% for(var i = 0;i<poll.options.length;i++) { %> <%=poll.options[i].count %>, <%}%>],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
		<% if(poll.description) { %>
			<%= poll.description %>
		<% } %>
		<form action='/viewPoll/<%= poll.id %>' method='post'>
			<% for(var i = 0;i<poll.options.length;i++) { %>
			<div class="radio">
				<label><input type="radio" name="voteOpt" value='<%=i%>'><%=poll.options[i].opt%></label>
			</div>
			<% } %>
			<button type='button' class='btn btn-lg btn-primary' id='voteButton'>Vote</button>
		</form>
<% } else { %>
	<h1>Error loading poll!!</h1>
<% } %>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('#voteButton').click(function() {
			$.post('/api/vote', {
				'pollId' : '<%=poll._id %>',
				'userId' : '<% if(user) {%><%=user._id%><% } else { %>IP<% } %>',
				'opt'		 : $('input[type="radio"]:checked').val()
			}, function(res) {
				if(res.success) {
					myChart.data.datasets[0].data[parseInt($('input[type="radio"]:checked').val())]++;
					myChart.update();
					alert("Voted on "+res.option);
				} else {
					alert("You have already voted");
				}
			});
		});
	});
</script>
</body>
</html>